/*
  Considerar este orden:
   abstracts
   vendors
   base
   layout
   components
   pages
*/

@import url(./abstracts/vars.css);

@import url(./base/base.css);
@import url(./base/typography.css);

@import url(./layaout/footer.css);
@import url(./layaout/forms.css);
@import url(./layaout/grid.css);
@import url(./layaout/header.css);
@import url(./layaout/navigation.css);

@import url(./components/components.css);

/*Se comporta como columnas*/

.margin-none{

  margin: 0;

}

/*media queries*/
/*Landscape phone - less than 768px*/
@media (max-width: 767.98px){

  .in-touch{

    margin: 0 1rem 2rem;
    text-align: center;
    order: 2;

  }

  .subscribe-image{

    margin-bottom: 0; 

  }

  .subscribe-title{

    margin: auto; 

  } 

}
