/*
   tags
*/
h1{
    color: #ccc;
    font-family: Arial; /* comment */
    font-size: 6rem;
}

p{
    font-family: Arial;
    font-size: 2rem; 
}

/*
   classes
*/

.text-red{

    color: #a01818;
}

.text-blue{

    color: #341ac9;
}